alias cl="clear"

alias gb="grunt build"
alias gw="grunt watch"
alias gbw="grunt build; grunt watch;"

alias gl="git log --pretty=format:'%h%x09%an%x09%ad%x09%s' --date=short -10;"
alias gr="git rebase -i"
alias ga="git commit -a"
alias gm="git merge --no-ff"
